.container1 {
    background: #dfe3e6;
    border-radius: 5px;
}

.Preferenceside1 .container1,
.Preferenceside2 .container1 {
    min-height: 280px;
    padding-top: 10px;
}

.Preferenceside2 .container1{
    padding-bottom: 10px;
}

.scroll {
    width: 650px;
    height: 280px;
}

h3 {
    text-align: left;
    padding-left: 10px;
    margin: 10px 0;
}


/*.Preference .item.grab{
    width: 70px;
} */

.rangeslider-vertical .rangeslider__fill {
    background-image: linear-gradient(90deg, #2e0b35, #9c1233) !important;
}