.MuiCardContent-root:last-child {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.MuiDataGrid-colCellTitleContainer {
  justify-content: center !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  text-align: center !important;
}
/* 
.MuiSlider-root {
  color: #ea001e !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #ea001e !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ea001e !important;
} */

.MuiAccordionSummary-root {
  min-height: 40px !important;
}
/* 
.MuiPopover-paper {
  border: 2px solid #9c1233;
} */

.button:focus {
  outline: none !important;
  border: 1px solid #ea001e;
}

.MuiListItemText-primary {
  font-size: 14px !important;
}

.MuiPopover-paper .MuiListItemText-primary {
  line-height: 1 !important;
}

.MuiInputLabel-outlined.MuiInputLabel-marginDense,
.MuiFormLabel-root.Mui-focused {
  font-size: 14px !important;
}

.makeStyles-remember-9 .MuiFormControlLabel-label {
  font-size: 14px;
}

.MuiDialog-paper {
  overflow-y: initial !important;
}

.MuiDialog-paper .MuiSvgIcon-fontSizeSmall {
  font-size: 13px;
}

/* Font */

body,
span,
p,
button,
div {
  font-family: "Roboto", sans-serif !important;
  /* font-family: 'Open Sans', sans-serif !important; */
}
/************************************
 HEADER SECTION CSS STARTS
*************************************/

.header-section {
  height: 68px;
  background-color: #fff !important;
}

.header-title {
  color: #fff !important;
  flex-grow: 1;
}

.header-right {
  float: right;
}

.MyAnalysis-btn {
  color: #000 !important;
  font-weight: 700 !important;
}
.contactUs-btn .MuiButton-label {
  color: #fff;
  margin-right: 20px;
}

.MuiButton-label .saveAnalysis-btn {
  background: #9c1233;
  color: #fff;
  font-size: 14px;
  border: 1px solid #9c1233;
  border-radius: 2px;
  height: 38px;
  margin-right: 10px;
  line-height: 22px;
  text-transform: capitalize;
  padding: 0 10px;
}

.MuiButton-label .signIn-btn {
  background: #fff;
  color: #000;
  font-size: 14px;
  border: 1px solid #9c1233;
  border-radius: 2px;
  width: 82px;
  height: 38px;
  margin-right: 10px;
  line-height: 22px;
  text-transform: capitalize;
}

.MuiChip-label {
  padding: 1px 0 4px 0 !important;
  font-size: 10px;
}

.MuiButton-label:focus,
.MuiButton-root:focus {
  outline: none !important;
}

.modalfields {
  width: 100%;
  margin-bottom: 25px !important;
}

.signup .modalfields {
  width: 96% !important;
}
.finacialmodal .modalfields {
  width: 95% !important;
}

.finacialmodal .modalfields.radiofields {
  width: 40% !important;
  display: inline-block;
}

.finacialmodal .radioBtnGrp .MuiFormControlLabel-label {
  font-size: 14px;
}

.finacialmodal .MuiRadio-root {
  padding-left: 0;
  vertical-align: super;
}

.modalfields1 {
  width: 100%;
  margin-bottom: 15px !important;
}

.modalfields .MuiOutlinedInput-input,
.modalfields1 .MuiOutlinedInput-input {
  padding: 8.5px 14px;
}

.modalfields.notation .MuiOutlinedInput-input {
  padding-left: 0;
}

.modalfields.radiofields .MuiOutlinedInput-input {
  padding-left: 0;
}

.modalfields .MuiInputLabel-outlined,
.modalfields1 .MuiInputLabel-outlined {
  line-height: 0;
}

.textbtns {
  text-transform: "capitalize";
  background-image: linear-gradient(-90deg, #2e0b35, #9c1233);
  border-color: "#9c1233";
  max-width: "100%";
  width: "100%";
}

.cardmodal .MuiChip-label {
  font-size: 12px !important;
}

.cardmodal .MuiIconButton-label .MuiSvgIcon-root {
  width: 18px !important;
  height: 18px !important;
}

/************************************
 SIDE NAV SECTION CSS STARTS
*************************************/

.sidebar_section {
  background: #f2f2f2;
  padding: 15px;
  border-radius: 4px;
}

.sidebar_section .sidebar_header {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  margin: -35px -25px;
  padding: 20px;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.sidebar_header p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}

/******** Filter Button css starts **********/

.btn_filters .filterbtn {
  background: transparent;
  border-color: #2e0b35;
  max-width: 266px;
  min-width: 100%;
  text-align: left;
  color: #2e0b35;
  position: relative;
}

.btn_filters .filterbtn .badge {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 15px;
  height: 15px;
  padding: 0px;
}

.btn_filters .filterbtn:hover,
.btn_filters .filterbtn.active,
.btn_filters .filterbtn.active:hover {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  color: #fff;
  border-color: #9c1233;
}

.btn-label {
  position: relative;
  left: -14px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(173, 170, 170, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.hide {
  display: none;
}

/* .popover {
  background-color: #fff !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem !important;
  max-width: 700px;
} */

.form-check {
  margin-bottom: 10px;
}

.form-check.selectheading {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding-bottom: 10px;
}

.form-check .form-check-input {
  width: 15px;
  height: 15px;
}

.moreoptions {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  height: 60px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  width: 266px;
  padding: 0px 30px;
  line-height: 62px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.form-control {
  font-size: 14px;
}

button.close {
  font-size: 15px !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
}

/* Preference css starts */

.Preference {
  text-align: center;
}

.Preference p {
  text-align: left;
  font-size: 15px;
}

.Preferenceside1 p,
.Preferenceside2 p {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}

.Preferenceside2 p {
  visibility: hidden;
}

.PreferenceList .item.grab {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  color: #fff;
  text-transform: capitalize;
}

.Preference-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Preference-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Preference-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Preference-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rangeslider-vertical .rangeslider__labels {
  width: 0 !important;
}

.gridList {
  flex-wrap: nowrap;
  transform: translateZ(0);
}

/*Preference slim scroll bar */

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

.Preferenceside1 .item {
  margin: 10px 6px !important;
}

@media (min-width: 1280px) {
  .filtercontainer .MuiGrid-grid-lg-3 {
    flex-grow: 0;
    max-width: 23%;
    flex-basis: 23%;
  }
}

/* Car detail modal */

.carModal-car-specs span {
  max-width: 195px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Popover border */

.ant-popover-content {
  border: 2px solid #9c1233;
}

/* Popover */

.MultiListPopOver ul {
  width: 900px !important;
}

.MultiListPopOver li {
  display: inline-block !important;
  width: 210px !important;
}

.MultiListPopOver input + label > span {
  justify-content: end !important;
}

.MultiListPopOver input + label > span > span:nth-of-type(2):after {
  content: "]";
}

.MultiListPopOver input + label > span > span:nth-of-type(2):before {
  content: "[";
}

.MultiListPopOver li label::before {
  width: 20px !important;
  height: 16px;
}

.MultiListPopOver li label:hover {
  color: #9c1233 !important;
}

.MultiListPopOver li input:checked + label::before {
  border-color: #9c1233;
  background-color: #9c1233;
}

.MultiListPopOver li + label::before {
  color: #9c1233 !important;
}
.MultiListPopOver li:first-child label::before {
  width: 16px !important;
}

/* Search result table row */

.collapsibletable {
  display: grid !important;
}

.resulttablerow {
  border-top: 1px solid rgba(224, 224, 224, 1) !important;
}

.resultheaderrow,
.resulttablerow {
  display: table !important;
  width: 100%;
  table-layout: fixed;
}

.custom-range-slider .rheostat-progress,
.custom-range-slider .slider-tooltip,
.custom-range-slider .rheostat-handle {
  background-color: #ea001e !important;
}

.custom-range-slider .slider-tooltip:after {
  border-color: #ea001e transparent transparent transparent !important;
}

.custom-range-slider .rheostat-horizontal .rheostat-handle {
  top: -5px !important;
  margin-left: -7px !important;
}

.custom-range-slider .rheostat-handle {
  height: 12px !important;
  width: 12px !important;
  border: 0px !important;
}
.custom-range-slider input:focus {
  outline: none !important;
  border: 2px solid #ea001e;
}
.custom-range-slider input {
  background-color: #fff !important;
}

.custom-range-slider .slider-tooltip {
  max-width: 75px;
  z-index: 10;
  font-size: 12px;
  text-align: left !important;
  /* display: flex; */
  white-space: nowrap;
}
.table-container {
  overflow-x: inherit;
}

.MultiListPopOver input:hover + label::before {
  border-color: #9c1233;
}

.MultiListPopOver li label {
  text-transform: capitalize;
  font-size: 14px;
}

.MultiListPopOver input:focus + label::before {
  box-shadow: none !important;
}
/* Header Logo */

.header-section img {
  max-width: 200px;
  height: auto;
}

/* side bar heading */

.MuiAccordionSummary-root .MuiAccordionSummary-content p {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.custom-range-slider .css-dqmsxc-rangeLabelsContainer div {
  font-size: 12px !important;
}

/*Menu Logout */
.logoutMenu .MuiMenu-paper {
  top: 50px !important;
}

/*Menu Logout mobile view */
.drawerContainer .right-menu .logoutMenu .MuiMenu-paper {
  right: unset !important;
  top: unset !important;
  left: unset !important;
}

/* drawer */
.drawerContainer {
  padding: 20px 30px;
}

.drawerContainer .right-menu button {
  display: block;
}

.drawerContainer .right-menu .user-mobile {
  color: #9c1233 !important;
}

/* pagination in complete */

ul.pagination {
  margin-top: 30px !important;
}

.pagination .page-item .page-link {
  color: #9c1233;
}

/* Forgot password */
.MuiButton-contained.Mui-disabled {
  color: rgba(0, 0, 0, 0.75) !important;
}

/* Drop down */

.multilistIconpoppverbtns {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  border-color: #9c1233;
  min-width: 45px !important;
  z-index: 1;
  color: #fff;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.multilistIconpoppverbtns .MuiSvgIcon-root {
  width: 20px !important;
  height: 20px !important;
  color: #fff;
}

.MultiListDropdown {
  right: 0;
  position: absolute;
  top: 0;
  left: 44px;
}
.MultiListDropdown button {
  min-height: 32px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.MultiListDropdown ul {
  border: 1px solid #9c1233;
}

.MultilistCloseBtn {
  width: 15px !important;
  height: 15px !important;
  position: absolute !important;
  right: -2px !important;
  top: -6px !important;
  color: #fff !important;
  background: #dc3545 !important;
  cursor: pointer !important;
  z-index: 1 !important;
}

.MultilistCloseBtn-scopeFilter {
  width: 15px !important;
  height: 15px !important;
  position: absolute !important;
  right: -4px !important;
  top: -5px !important;
  color: #fff !important;
  background: #dc3545 !important;
  cursor: pointer !important;
  z-index: 1 !important;
}

.MultilistCloseBtn .MuiChip-label {
  display: flex !important;
  justify-content: center !important;
}

.analysisAlert {
  display: inline-flex !important;
  margin-left: 20px !important;
  box-shadow: none !important;
}

/* Footer */
.footerPageContent {
  padding: 3px 0;
  background-color: #9c1233;
  margin-top: 20px;
  width: 100%;
}
.footerText {
  font-size: 12px !important;
  color: #fff;
  font-weight: 500 !important;
  text-align: center;
}

.content.bodyContent {
  position: relative;
  min-height: 100vh;
}

/*tooltip for model column */
.toolTipClass {
  max-width: 200px;
  overflow-wrap: break-word;
  display: block !important;
}

/* Form Modal Title */
#simple-modal-title,
#signup-modal-title,
#singnIn-modal-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #4f4f4f;
}
#simple-modal-title-financial {
  margin-bottom: 0 !important;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #4f4f4f;
}
#simple-modal-title-para {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #4f4f4f;
  margin-top: 0;
}

/* Multilist Zer Result */
.MultilistZeroResult {
  display: inline-block;
  min-height: 32px;
  border: 1px solid #ccc;
  padding-left: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  right: 0;
  left: 44px;
}

.MultilistZeroResult p {
  color: rgb(66, 66, 66);
  font-size: 14px;
  margin-bottom: 0;
  line-height: 2;
  margin-left: 5px;
}

/* Financial modal popup */

#financial_popup_id .FinancialModalPaper {
  position: absolute !important;
  width: 700px !important;
  background-color: #fff;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%) !important;
  padding: 20px 32px !important;
}

/* Financial filter slider */
.custom-range-slider .rheostat-horizontal.custom-range-slider-bar {
  height: 0 !important;
  margin: 15px 12px 24px 12px;
}

/* Scope filter range slider */
.sidebarScopeFilter
  .custom-range-slider
  .rheostat-horizontal.custom-range-slider-bar {
  height: 0 !important;
  margin: 0px 12px 32px 12px;
}

.sidebarScopeFilter .MuiAccordionSummary-content.Mui-expanded {
  margin-bottom: 10px !important;
}
/* Sidebar multilist range slider*/

.sidebarScopeFilter .MuiAccordionDetails-root {
  display: block !important;
}

.dynamic_financial .MuiAccordionDetails-root {
  display: block !important;
}

.dynamic_financial .MuiAccordionDetails-root .custom-range-slider {
  width: 100%;
}

.dynamic_financial
  .custom-range-slider
  .rheostat-horizontal.custom-range-slider-bar {
  margin: 0 12px 32px;
}

/* Sub table */
.collapsibletable th {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #000000d9;
  min-width: 91px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Financial Modal */
#simple-modal-description {
  margin-bottom: 0;
}

.fuelSelectionRadio {
  display: inline-block;
  margin-right: 5;
  width: 84px;
  word-wrap: break-word;
}

/*Financial filters side */
.custom-range_input-container div:first-child,
.custom-range_input-container div:last-child {
  position: relative;
}
.custom-range_input-container div:first-child:before,
.custom-range_input-container div:last-child:before {
  content: "R";
  padding: 0 0 0 10px;
  font-size: 14px;
  position: absolute;
  top: 12px;
  color: #000;
  font-weight: 500;
}

input.custom-range_input-field {
  padding-left: 22px;
  padding-right: 0;
}

/* media query */
@media (max-width: 1200px) {
  .resulttablerow {
    width: 1200px !important;
    overflow-x: scroll;
  }
}
@media (max-width: 967px) {
  .MultiListPopOver li {
    display: block !important;
    width: 100%;
  }

  .MultiListPopOver ul {
    column-count: auto;
    column-gap: 15px;
    width: unset !important;
  }
}

@media (max-width: 900px) {
  .header-section {
    padding-left: 0;
  }
  .MuiIconButton-colorInherit {
    background: #000 !important;
  }
}

@media (max-width: 768px) {
  #financial_popup_id .FinancialModalPaper {
    width: 90% !important;
  }
}

@media (max-width: 600px) {
  .carModal-car-specs span {
    max-width: 112px !important;
  }
}

@media (max-width: 400px) {
  .carModal-car-specs span {
    max-width: 85px !important;
  }
}

@media (min-width: 690px) and (max-width: 960px) {
  .sidebarScopeFilter {
    width: 98% !important;
  }
}

@media (max-width: 689px) {
  .sidebarScopeFilter {
    width: 96% !important;
  }
}

@media (max-width: 960px) {
  .finacialmodal .modalfields.radiofields {
    width: 95% !important;
    display: inline-flex;
  }
  .finacialmodal .MuiRadio-root {
    vertical-align: middle;
  }
  .fuelSelectionRadio {
    width: unset;
  }
}
